/*Banner*/
.banner{
    min-height: 50vh;
    width:100%;
    position: relative;
}
.founder{
    background: url(../photos/large/ourstorybanner.jpg) no-repeat center center;
    background-size: cover;
}
.ourstory{
    background: url(../photos/large/founder.jpg) no-repeat center center;
    background-size: cover;
}
.banner_title{
    height:50vh;
    width:100%;
    margin-top:5em;
    z-index: 2;
    display:flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: flex-end;
}
.banner_title h1{
    font-family: var(--accent-ftn);
    color:white;
    font-size: 6em;
    padding-right: 72px;
    text-shadow: 0px 0px 7px rgba(0,0,0,.5);
    text-rendering: optimizeLegibility;
}
/*Summary*/
.about_summary{
    height:auto;
    width:100%;
    background: var(--primary-clr) url(../photos/large/so-white.png);
    background-blend-mode: multiply;
    display:flex;
    flex-flow:column nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 50px 0px;
}
.about_summary h2{
    font-size:3em;
    font-weight:300;
    font-family: var(--secondary-ftn);
}
.about_summary p{
    width:75%;
    font-size:1.2em;
    text-align: justify;
}
/*Goal and In The News Panel*/
.goal_itn_container{
    background:var(--secondary-clr) url(../photos/large/so-white.png);
    background-blend-mode: multiply;
    width:100%;
    height:auto;
    display:flex;
    flex-flow:row wrap;
}
.goal_itn_container div {
    width:50%;
    height:20vh;
    margin:3em 0px;
    display:flex;
    flex-flow:column nowrap;
    justify-content: center;
    align-items: center;
}
.goal_itn_container div:nth-child(1){
    border-right:5px solid  black;
}
.goal_itn_container div h2{
    font-family: var(--secondary-ftn);
    font-size:3em;
    font-weight:200;
}
.goal_itn_container div p{
    width:70%;
    text-align: center;
    text-rendering: optimizeLegibility;
    font-size:1.2em;
}
/*info_panel*/
.info_panel{
    width:100%;
    height:auto;
    background:var(--secondary-clr) url(../photos/large/papyrus.png);
    background-blend-mode: multiply;
    display:flex;
    flex-flow:row wrap;
    justify-content: flex-start;
    padding-bottom:5%;
    
}
.info_containers{
    height:500px;
    width:100%;
    display:grid;
    grid-template-columns:1fr 2fr;
    grid-template-rows:1fr;
    padding:0px 10%;
    margin-top: 5%;
    column-gap: 10px;
 
}
.img_box{
    grid-area: 1 / 1 / 2 / 2 ;
    border-radius:35px;
    overflow: hidden;
    box-shadow:0px 0px 10px rgba(0,0,0,.2);
}
.img_box img{
    width:100%;
    height:100%;
    image-rendering: optimizeSpeed;
    object-fit: cover;
    -o-object-fit: cover;
}
.info_box{
    grid-area:1 / 2 / 2 / 3;
    background: var(--primary-clr) url(../photos/large/so-white.png);
    background-blend-mode: multiply;
    border-radius:35px;
    box-shadow:0px 0px 10px rgba(0,0,0,.2);
}
.info_box h2{
    font-family:var(--secondary-ftn);
    font-size: 3em;
    font-weight:300;
    padding: 5px 0px 0px 20px;
}
.info_box p{
    padding:0px 20px 10px 20px;
    font-size:1.2em;
}
@media screen and (max-width:1500px){
    .info_containers{
        height:400px;
    }
}
@media screen and (max-width:1206px){
   .goal_itn_container{
       flex-flow:row wrap;
   }
   .goal_itn_container div{
       width:100%;
       text-rendering: optimizeSpeed;
       margin:0px 5em;
       padding:5em 0px;
   }
   .goal_itn_container div:nth-child(1){
        border-right: 0px;
        border-bottom:5px solid black;
      
   }
    .info_containers{
        height:auto;
        display:flex;
        flex-flow:column wrap;
    }
    .img_box{
        margin-bottom:20px;
    }
    .info_box{
      padding-bottom:20px;
    }
}
@media screen and (max-width:670px){
    .banner_title{
        align-items: center;
    }
    .banner_title h1{
        font-size:4.5em;
        padding:0px;
    }
    .info_box{
        text-align:center;
    }
    .info_box h2{
        padding:0px;
    }
    .goal_itn_container div{
        width:100%;
        text-rendering: optimizeSpeed;
        margin:0px 3em;
        padding:4em 0px;
    }
    .goal_itn_container div p{
        width:100%;
    }
}
@media screen and (max-width:499px){
   .banner{
       background: url(../photos/small/ourstorybannermobile.jpg) no-repeat top center;
       background-size: cover;
   }
   .banner_title{
       align-items: center;
   }
    .banner_title h1{
        font-size:3em;
        margin:0;
        padding:0;
    }
    .about_summary h2,
    .info_box h2,
    .goal_itn_container div h2{
        font-size:2em;
    }
    .about_summary p,
    .info_box p,
    .goal_itn_container div p{
        font-size:1em;
    }
}