body.noScroll{
    overflow-y:hidden;
}
/*------How To Banner------*/
.how_to_banner{
    position: relative;
    width:100%;
    min-height:40vh;
    background: url(../photos/large/howtohelpbanner.jpg) no-repeat center center;
    background-size: cover;
}
.how_to_title{
   width:100%;
   height:100%;
   display:flex;
   flex-flow: column nowrap;
   justify-content: flex-end;
   align-items: center;
   position: absolute;
   z-index:1;
}
.how_to_title h1{
    font-size:6em;
    font-family:var(--accent-ftn);
    color:white;
}
/*------White Space------*/
/* .white_space{
    width:100%;
    height:3em;
    background:url(../photos/large/so-white.png);
} */
/*------Join Us Container------*/
.form_wrap{
    position: relative;
    background:var(--secondary-clr) url(../photos/large/papyrus.png);
    background-blend-mode: multiply;
    width:100%;
    height:auto;
    display:flex;
    flex-flow:column nowrap;
    justify-content: center;
    align-items: center;
}
form{
    width:50%;
    height:auto;
    text-align:center;
}
/*------Join Us Header---------*/
.join_title{
    position: relative;
}
.join_title h1{ 
    position: relative;
    font-family: var(--secondary-ftn);
    font-size:3em;
    font-weight:300;
    height:1.5em;
    margin: 10px 0px;
    text-decoration: underline 3px solid;
}
/*------Form Field Wraps-------*/
.field_wrap{
    display:flex;
    flex-flow:column nowrap;
    justify-content: center;
    align-items: center;
    margin:15px 0px;
}
/*------Form Input Titles------*/
.field_wrap h3{
    font-weight:200;
    font-size:1.2em;
    margin-bottom:5px;
}
/*------Form Input Styles------*/
.field{
    height:1.8em;
    width:20em;
}
.field input{
    text-align:center;
    font-size:1em;
}
.field input,
.message_field input{
    width:100%;
    height:100%;
    border-radius:15px;
    border:1px solid grey;
    box-shadow:0px 3px 5px rgba(0,0,0,.2);
    border:none;
}
.field input:focus,
.message_field input:focus{
    outline: none;
}

textarea{
    width:32em;
    height:12em;
    resize:none;
    border-radius: 15px;
    font-size:1.2em;
    padding: 5px 5px;
    text-align:left;
    overflow-y: auto;
    scroll-behavior: smooth;
    outline:none;
    box-shadow:0px 3px 5px rgba(0,0,0,.2); 
    border:none;
}
/*------Form Input Btn Style------*/
.actions_btn{
    font-size:1.2em;
    width:7em;
    height:2em;
    margin:10px 0px 20px 0px;
    background: var(--accent-clr);
    border:none;
    outline:none;
    border-radius:15px;
    box-shadow:0px 4px 10px rgba(0,0,0,.2);
}
.actions_btn:active{
    margin-top:4px;
    box-shadow: none;
}

/*------Help Wrap-------*/
.help_wrap{
    width:100%;
    height:auto;
    display:flex;
    flex-flow:row nowrap;
}

/*------Founder Quote------*/
.founder_quote{
    background: url(../photos/large/so-white.png);
    width:50%;
    height:30em;
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
.founder_quote blockquote{
    padding:0px 7em;
    text-align: center;
    font-size:1.2em;
    text-align: left;
}
.founder_quote p{
    font-size:1.1em;
}
.founder_quote p:nth-child(2){
    padding: 20px 0px 5px 0px;
}
/*------Donate Box 2------*/
.donate_box_2{
    background:url(../photos/large/donate.jpg) no-repeat center center;
    background-size: cover;
    width:50%;
    height:30em;
    display:flex;
    flex-flow:column nowrap;
    justify-content: center;
    align-items:center;
}

@media screen and (max-width:1200px){
    .help_wrap{
        flex-flow:column nowrap;
    }
    .founder_quote,
    .donate_box_2{
        width:100%;
    }
} 
@media screen and (max-width:650px){
    .founder_quote blockquote{
     padding:0px 15px;
    }
    form{
        width:80%;
    }
    textarea{
        width:100%;
    }
}
@media screen and (max-width:600px){
    .how_to_title h1{
        font-size:4.5em;
    }
}
@media screen and (max-width:499px){
    .how_to_title h1{
        font-size:2.5em;
    }
    .join_title h1{
        font-size:2em;
    }
    .founder_quote blockquote{
        font-size:1em;
    }
    textarea{
        width:clamp(300px, 20em , 80%);
    }
}