/* Universal Styles */
/*--Hero Section--*/
.hero_section{
  background-image:url(../photos/large/heroimage.jpg);
  background-position: center center;
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width:100%;
  min-height:calc(100vh - 90px);
  margin-top:90px;
  display:grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows:10% 80% 10%;
}
.overlay{
  grid-area: 1 / 1 / 4 / 4;
  background-color: rgba(0,0,0,.3);
  width:100%;
  height:100%;
}
.center_wrap{
  grid-area: 2 / 2 / 3 / 3;
  display:flex;
  flex-flow: column nowrap;
  justify-content:center;
  align-items:flex-start;
  color:white;
}
.center_wrap h1{
  font-size:8em;
  position: relative;
}
.center_wrap h1::before{
  content: '';
  display:block;
  position: absolute;
  left:0;
  bottom:25px;
  width:100%;
  border-bottom: 8px solid  var(--accent-clr);
  border-radius: 5px;
}
.center_wrap h2{
  font-size: 4em;
}
.hero_btn{
  margin-top:2em;
  height:4em;
  width:14em;
  background-color: var(--accent-clr);
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0,0,0,.3);
}
.hero_btn p{
  font-size:1.5em;
}
/*--Projects Section--*/
.projects_section{
  width:100%;
  min-height:50vh;
}
.cards_container{
  height:auto;
  width:100%;
  display:flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
.cards{
  display:flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  background-image: url(../photos/large/so-white.png);
  background-blend-mode: multiply;
  background-color: white;
  position: relative;
  width:500px;
  height:750px;
  margin:3.1em 0em;
  box-shadow: 0px 0px 20px rgba(0,0,0,.3);
}
.image_wrap{
  width:100%;
  height:350px;
}
.image_wrap img{
  width:100%;
  height:100%;
}
.cards h3{
  font-size:2em;
  margin-top:.5em;
}
.cards p{
  padding:0px 1em;
  margin-top: 1em;
  font-size:1.2em;
  line-height: 1.5em;
  text-align: justify;
  color:var(--font-clr);
}
.card_btn{
  position: absolute;
  bottom:5%;
  background-color: var(--accent-clr);
  height:4em;
  width:15em;
  border:none;
  border-radius: 3px;
  box-shadow: 0px 0px 10px rgba(0,0,0,.3);
}
.card_btn a {
  text-decoration: none;
  color:black;
  font-size:1.5em;
}

/*--How we and Who We--*/
.cypress_summary{
    width:100%;
    height:100vh;
    background:url(../photos/large/southdakota1large.jpg);
    background-repeat: no-repeat; 
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    display:flex;
    flex-flow:row wrap;
}
.text_box{
    position: relative;
    background:white;
    width:50%;
    height:50%;
    display:flex;
    flex-flow:column nowrap;
    justify-content: center;
    align-items: center;
}
.text_box h2{
    font-family:var(--secondary-ftn);
    font-size:4em;
    font-weight:200;
    text-rendering: optimizeLegibility;
}
.text_box p{
    width:100%;
    padding:0 10%;
    text-align: center;
    font-size: 1.3em;
    line-height: 2em;
    color:var(--font-clr);
}
.svg_box{
    width:50%;
    height:50%;
}
.svg_box svg{
    width:100%;
    height:100%;
}
/* Upcoming Trips */
.upcoming_trip_wrap{
  width:100%;
  height:auto;
  background-color:white;
  display:flex;
  flex-flow:column nowrap;
  justify-content: center;
  align-items: center;
}
.upcoming_trip{
  height:700px;
  width:1500px;
  margin: 7em 0em;
  position: relative;
  overflow:hidden;
  border-radius: 5px;
  display:flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  background-image: url(../photos/large/so-white.png);
  background-blend-mode: multiply;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0,0,0,.3);
}
.corner_image{
    height:350px;
    width:350px;
    position: absolute;
    right:0;
    bottom:0;
    background:url(../photos/large/upcomingtrips.jpg) no-repeat center center;
    background-size: cover;
    clip-path: circle(65% at 78% 78%);
}
.upcoming_trip h2{
    text-align: center;
    font-family: var(--secondary-ftn);
    font-weight: 300;
    font-size: 3em;
    padding:10px 0px;
}
.desc_line p:nth-child(2){
    width:70%;
}
.upcoming_trip div p:nth-of-type(odd){
    padding-left:5em;
    font-size: 1.5em;
}
.upcoming_trip div p:nth-of-type(even){
    padding:.5em 0em .5em 5.8em;
    font-size:1.3em;
    color:var(--font-clr);
}
.selector_wrap{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height:40px;
    width:100%;
    position: relative;
    bottom:-120px;
    filter:drop-shadow(0px 0px 5px rgba(0,0,0,.3));
}
.circle{
    height:30px;
    width:30px;
    background:white;
    clip-path: circle(50% at 50% 50%);
    cursor:pointer;
    margin:0px 20px;
}
#c1{
    background:var(--accent-clr);
}
/* donate section */
.donate_section{
  width:100%;
  height:80vh;
  display:flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  background: url(../photos/large/donate.jpg) no-repeat top center fixed;
  background-size: cover;
}
.donate_text{
  width:100%;
  text-align: center;
}
.donate_text h1{
  font-size:5em;
  margin-top:.5em;
  color:white;
  text-shadow: 0px 0px 5px rgba(0,0,0,.5);
}
.donate_text h2{
  font-size:2.5em;
  color:white;
  text-shadow: 0px 0px 5px rgba(0,0,0,.5);
}

.box{
    width:50%;
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.box_btn{
    width:300px;
    height:150px;
    border: 8px solid var(--primary-clr);
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
}
.box_btn:before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    height:0%;
    width:0%;
    background: var(--primary-clr);
    transition: all .2s ease-in-out;
}

.box_btn:hover:before{
    animation: backIn .2s ease-in-out;
    background: var(--primary-clr );
    height:100%;
    width:100%;
}
@keyframes backIn {
    0%{
        height:0;
        width:0;
    }
    100%{
        height:100%;
        width:100%;
    }
}
.box_btn p{
    font-size:4em;
    color:white;
}
.box_btn a{
    display:none;
    cursor: pointer;
    position: relative;
    z-index: 2;
}
.box_btn:hover p{
    display:none;
}
.box_btn:hover a{
    display:block;
    text-decoration: none;
    color:black;
    font-size:2.5em;
}
/* Large Screens */
@media screen and (min-width:2000px){
  .center_text{
    width:1920px;
  }
  .cards_container{
    width:1920px;
    justify-content: space-evenly;
    align-items: center;
    margin:0 auto;
  }
}

/* Smaller Screens */
@media screen and (max-width:1700px){
  .center_wrap{
    justify-content: flex-end;
  }
  .upcoming_trip{
    width:90%;
    height:auto;
  }
  .selector_wrap{
    bottom:0;
    margin:2em auto;
  }
}
@media screen and (max-width:1314px){
  .center_wrap{
    justify-content: flex-end;
    grid-area: 2 / 2 / 4 / 4;
  }
  .center_wrap h1{
    font-size:7em;
  }
  .center_wrap h2{
    font-size:3em;
  }
  .center_wrap h1:before{
    bottom:15px;
  }
  .hero_btn{
    margin-bottom: 5em;
  }
  .upcoming_trip{
    width:90%;
    padding:0 2em;
  }
  .desc_line p:nth-child(2){
    width:100%;
  }
  .upcoming_trip div p:nth-of-type(odd){
    padding:0;
    text-align: center;
  }
  .upcoming_trip div p:nth-of-type(even){
    padding:.0;
    color:var(--font-clr);
    text-align: center;
  }
  .corner_image{
    display:none;
  }
}
@media screen and (max-width:1200px){
  .cypress_summary{
    height:100vh;
    justify-content: space-evenly;
    align-items: center;
  }
  .text_box{
   width:100%;
   height:40%;
 }
 .svg_box{
   display:none;
 }
}
@media screen and (max-width:750px){
  .center_wrap{
    justify-content: flex-end;
    align-items: center;
    grid-area: 2 / 1 / 4 / 4;
  }
  .center_wrap h1{
    font-size:5em;
  }
  .center_wrap h2{
    font-size:3em;
    text-align: center;
  }
  .center_wrap h1:before{
    bottom:10px;
  }
 
  .upcoming_trip{
    width:90%;
  }
   /* donate */
 .donate_section{
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  background-attachment: initial;
}
.donate_text{
  width:100%;
  height:20%;
  text-align: center;
}
.donate_text h1{
  font-size:3.5em;
  margin-top:.5em;
  color:white;
  text-shadow: 0px 0px 5px rgba(0,0,0,.5);
}
.donate_text h2{
  font-size:2.5em;
  color:white;
  text-shadow: 0px 0px 5px rgba(0,0,0,.5);
}
.box{
    width:100%;
    height:40%;
    flex-flow: column nowrap;
}
}


@media screen and (max-width:499px){
 /* hero */
  .hero_section{
   background-attachment: initial;
   background-position: top top;
   min-height:100vh;
   margin-top: 0;
 }
 .center_wrap{
   justify-content: flex-end;
   align-items: center;
   grid-area: 1 / 1 / 4 / 4;
 }
 .center_wrap h1{
   font-size:3em;
 }
 .center_wrap h1::before{
  bottom:1px;
}
 .center_wrap h2{
   font-size:1.5em;
   text-align: center;
   margin-top:.8em;
 }
 .hero_btn{
   height:40px;
   margin-bottom:1.5em;
 }
 /* Projects Cards */
 .cards_container{
  padding:1.5em 0em;
 }
 .cards{
   width:90%;
   height:650px;
   margin:1.5em 0em;
 }
 .image_wrap{
   height:300px;
 }
 .cards p{
   font-size:1em;
 }
 .card_btn{
   width:180px;
   height:50px;
 }
 /* Text Summary*/
 .cypress_summary{
  height:auto;
  flex-flow:column nowrap; 
  justify-content:center;
  background-attachment: initial; 
 }
 .text_box{
   width:100%;
   height:auto;
   padding:1em;
 }
 .tb_1{
   margin:90px 0px 1em 0px;
 } 
 .tb_2{
   margin:1em 0 90px 0;
 }
 .text_box h2{
   font-size:2em;
   height:60px;
   width:100%;
   text-align: center;
 }
 .text_box p{
   font-size:1em;
   line-height: 1.5em;
   padding:0;
 }
.svg_box{
  display:none;
}
 /* upcoming trip*/
 .upcoming_trip{
   width:90%;
   justify-content: flex-start;
   align-items: center;
   padding:1em 1.2em;
   margin: 4em 0em;
 }
 .corner_image{
   display:none;
 }
 .upcoming_trip h2{
  text-align: center;
  font-family: var(--secondary-ftn);
  font-weight: 300;
  font-size: 2em;
  padding:0px 0px;
}
.desc_line p:nth-child(2){
  width:100%;
}
.upcoming_trip div p:nth-of-type(odd){
  padding:0;
  font-size: 1.3em;
  text-align: center;
}
.upcoming_trip div p:nth-of-type(even){
  padding:.2em 0 .2em 0;
  font-size:1em;
  color:var(--font-clr);
  text-align: center;
}
.selector_wrap{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height:40px;
  width:100%;
  position: relative;
  bottom:0px;
  filter:drop-shadow(0px 0px 5px rgba(0,0,0,.3));
}
.circle{
  height:20px;
  width:20px;
  background:white;
  clip-path: circle(50% at 50% 50%);
  cursor:pointer;
  margin:0px 15px;
}
 /* donate */
 .donate_section{
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  background-attachment: initial;
}
.donate_text{
  width:100%;
  height:40%;
  text-align: center;
}
.donate_text h1{
  font-size:2.5em;
  margin-top:.5em;
  color:white;
  text-shadow: 0px 0px 5px rgba(0,0,0,.5);
}
.donate_text h2{
  font-size:1.5em;
  color:white;
  text-shadow: 0px 0px 5px rgba(0,0,0,.5);
}
.box{
    width:100%;
    height:30%;
    flex-flow: column nowrap;
}
.box_btn{
    width:200px;
    height:100px;
    border: 8px solid var(--primary-clr);
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
}
.box_btn p{
  font-size:2.5em;
}
.box_btn:hover a{
  font-size:2em;
}
}










































