/*Mobile Styles First*/
/*Mobile Navbar*/
.nav_bar{
  height:90px;
  width:100%;
  background-color:var(--primary-clr);
  display:flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  padding:0 2em;
  position: fixed;
  z-index:11;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
}
.nav_links{
  background-color:var(--primary-clr);
  position: absolute;
  top:0;
  right:0;
  width:0;
  z-index:11;
  height:100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  transition: width .6s ease-in-out;
}
.nav_links.menuOpen{
  width:100%;
  transition: width .6s ease-in-out;
}
.nav_links li{
  margin:2em 0;
}
.nav_links li > a{
  font-size:2em;
  width:150px;
  display:block;
  text-align: center;
}
.nav_links li, a{
  list-style: none;
  text-decoration: none;
}
/*links sliding animation*/
.nav_links .link1,
.nav_links .link2,
.nav_links .link3,
.nav_links .link4,
.nav_links .link5,
.nav_links .link6{
  margin-left:9999px;
  opacity:0;
}
.nav_links .link1{
  transition: margin-left 1s ease-out;
}
.nav_links .link2{
  transition: margin-left 1s ease-out;
}
.nav_links .link3{
  transition: margin-left 1s ease-out;
}
.nav_links .link4{
  transition: margin-left 1s ease-out;
}
.nav_links .link5{
  transition: margin-left 1s ease-out;
}
.nav_links .link6{
  transition: margin-left 1s ease-out;
}
.nav_links .link1.slide,
.nav_links .link2.slide,
.nav_links .link3.slide,
.nav_links .link4.slide,
.nav_links .link5.slide,
.nav_links .link6.slide{
  margin-left:0;
  opacity:1;
}
.nav_links .link1.slide{
  transition: margin-left 1s ease-in-out;
}
.nav_links .link2.slide{
  transition: margin-left 1s ease-in-out .1s;
}
.nav_links .link3.slide{
  transition: margin-left 1s ease-in-out .2s;
}
.nav_links .link4.slide{
  transition: margin-left 1s ease-in-out .3s;
}
.nav_links .link5.slide{
  transition: margin-left 1s ease-in-out .4s;
}
.nav_links .link6.slide{
  transition: margin-left 1s ease-in-out .5s;
}

/*burger wrap*/
.burger_wrap{
  position: absolute;
  right:2em;
  top:25px;
  height:40px;
  width:40px;
  display:flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  cursor:pointer;
}
.bar1,.bar2,.bar3{
  height:8px;
  width:40px;
  background-color:black;
  border-radius: 5px;
}
.close_icon{
  width:40px;
  height:40px;
  display:flex;
  justify-content: center;
  align-items: center;
  position:absolute;
  top:20px;
  right:20px;
  z-index:12;
  cursor:pointer;
  pointer-events: none;
  opacity: 0;
}
.line1,.line2{
  height:8px;
  width:30px;
  background-color: black;
  position: absolute;
  border-radius: 5px;
}
.line1{
  transform: rotate(45deg);
}
.line2{
  transform: rotate(135deg);
}
@media screen and (min-width:768px){
.nav_links{
  display:flex;
  flex-flow:row nowrap;
  justify-content: flex-end;
  align-items: center;
  height:100%;
  width:100%;
  position: relative;
}
.nav_links li{
  padding:0 .5em;
  margin:none;
  animation: none;
}
.nav_links .link1,
.nav_links .link2,
.nav_links .link3,
.nav_links .link4,
.nav_links .link5,
.nav_links .link6
{
  margin:0;
  transition:none;
  opacity:1;
}
.nav_links li a{
  height:100%;
  width:100%;
  display:inline-block;
  position: relative;
  font-size:1.2em;
}
.link_hover:hover{
  color:black;
  transition: color .25s ease;
}
.link_hover:before{
  content:'';
  display:block;
  height:5px;
  width:100%;
  border-radius: 5px;
  position: absolute;
  bottom:-5px;
  transform:scaleX(0);
  left:0;
  background-color: var(--accent-clr);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.link_hover:hover:before{
  transform:scaleX(1);
  transform-origin: bottom left;
}
.close_icon{
  display:none;
}
.burger_wrap{
  display: none;
}
}

@media screen and (max-width:499px){
  .nav_bar{
    height:50px
  }
  .logo img{
    height:40px;
    width:88px;
  }
  .nav_links li{
    margin:.5em 0;
  }
  .burger_wrap{
    top:15px;
    height:20px;
    width:20px;
  }
  .bar1,.bar2,.bar3{
    height:4px;
    width:20px;
  }
}

/* .nav_bar{
  width: 100%;
  height:90px;
  background-color:var(--primary-clr);
  position:fixed;
  top:0;
  left:0;
  z-index: 10;
  box-shadow: 0px 0px 10px rgba;
} */
/*Mobile Nav Wrap For Links*/
/* .nav_wrap{
  position:fixed;
  top:0;
  right:0;
  z-index: 11;
  width:0%;
  height:100vh;
  background: var(--primary-clr);
}
.nav_wrap.menuOpen{
  width:100%;
  transition: width .6s ease-in-out;
} */
/*Close Icon For Links Menu*/
/* .close_menu,
.close_menu::before{
  display:block;
  background:black;
  width:2.5em;
  height:.5em; 
  cursor:pointer;
  border-radius:5px;
}
.close_menu{
  position: relative;
  top:5%;
  right:-85%;
  transform: rotate(135deg); 
}
.close_menu::before{
  content: '';
  transform: rotate(90deg);
}  */
/*Nav Links For Mobile*/
/* .nav_links,
.nav_links p,
.nav_links a,
.dropDown{
  text-decoration: none;
  list-style: none;
  font-size:2rem;
  cursor: pointer;
}
.nav_links{
  display:none;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  width:100%;
  transition: width .3s ease-in;
  height:100%;
  text-align: center;
}  */
/* .nav_links.showLinks{
  display:flex;
  }

 .link{
  margin:.5em auto;
  width:100%;
 }
 .link p{
   width:30%;
   margin:0 auto;
   animation: linkIn .5s ease-in .1s;
 }
 @keyframes linkIn {
   0%{
     margin-left: 9999px;
   }
   100%{
     margin: 0 auto;
   }
 } */

/*Drop Down Within Mobile Nav*/
/* .dropDown{
  background:  url(../photos/large/papyrus.png);
  background-color:var(--secondary-clr);
  background-blend-mode: multiply; 
  width:100%;
  height:0;
  transition: height .5s ease-in-out;
  position: relative;
  margin:0 auto;
}
.dropDown.dropOpen{
  height:150px;
  transition: height .5s ease-in-out;
  transform-origin: top;
  pointer-events: none;
  box-shadow: inset 0px 7px 7px  rgba(0,0,0,.4),
              inset 0px -7px 7px rgba(0,0,0,.4);
} */
/* .dropLink {
  width:100%;
  height:50%;
  margin:0 auto;
  text-align: center;
  display:flex;
  justify-content:center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity .1ms ease-in-out;
}
.dropLink.linksShow{
  opacity: 1;
  pointer-events: all;
  transition:opacity .6s ease-in .3s;
} */
 
/*Logo Styles*/
/* .logo_wrap{
  width:100%;
  height:100%;
  display:flex;
  justify-content: center;
  align-items: center;
} */
/*Hamburger Icon*/
/* .burger_wrap{
  display:block;
  position: absolute;
  top:25px;
  right:35px;
  width:40px;
  height:40px;
  cursor:pointer;
  filter:drop-shadow(0px 1px 1px rgba(0,0,0,.7));
}
.menu_burger,
.menu_burger::before,
.menu_burger::after{
  display:block;
  width:40px;
  height:8px;
  background: black;
  margin:0 auto;
  border-radius: 5px;
  position: relative;
}
.menu_burger::before,
.menu_burger::after{
  content: '';
}
.menu_burger{ 
  top:4px;
}
.menu_burger::before{
  top:12px;
}
.menu_burger::after{
  bottom:-16px;
}  */

/*Larger Screen Sizes*/
/* @media only screen and (min-width:760px){
.nav_bar{
  display:flex;
  flex-flow:row nowrap;
  padding:0 3em;
  background-color: var(--primary-clr);
}
.logo_wrap{
  justify-content: flex-start;
  width:129px;
}
.nav_wrap,
.nav_links{
  display:flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  width:100%;
  height:100%;
  position: initial;
  transition: none;
  margin:0;
}
.nav_links > .link{
  margin: 0 1em;
  position: relative;
}
.link{
  margin:0;
  width:initial;
}
.link p{
  margin:0;
}
.nav_links,
.nav_links p,
.nav_links a,
.dropDown{
  font-size:1.2rem;
  width:100%;
}
.link_hover{
  position: relative;
}
.link_hover::before{
  content: '';
  display:block;
  position: absolute;
  left:0;
  width:0%;
  border-bottom: 5px solid  var(--accent-clr);
  border-radius: 5px;
}
.link_hover:hover:before{
  width:100%;
  transition: width .2s ease-in-out; 
  bottom:-4px;
}
  /*Desktop DropDown*/
/* .dropDown{
  background: none;
  background-color: var(--primary-clr );
  position: absolute;
  width:200px;
  top:56px;
  left:-75px;
}
.dropDown.dropOpen{
  height:100px;
  transform-origin: top;
  box-shadow: 5px 7px 7px  rgba(0,0,0,.4);
}
.dropLink:hover{
  background:var(--secondary-clr);
  
} */
/*Display None For Desktop*/
/* .burger_wrap{
  display:none;
}
.close_menu{
  display:none;
  opacity: 0;
}  
} */
/* @media screen and (max-width:499px){
  .burger_wrap{
    display:flex;
    right:15px;
    height:45px;
  }
  .link p{
    width:40%;
  }
  .dropDown{
    background:none;
    background-color: var(--secondary-clr);
  }
} */
